<div class="menu col-3">
  <button class="drop-menu">
    <img src="../img/up-arrow-angle.png" alt="" width="50">
  </button>
  <div class="row text-start justify-content-center">
    <div class="col-12" style="height: 50%;">
      <h2>Ventas</h2>
      <ul>
        <a href=""><li>Ventas Realizadas</li></a>
        <a href=""><li>Registrar Ventas</li></a>
      </ul>
    </div>
    <div class="col-12" style="height: 50%;">
      <h2>Productos</h2>
      <ul>
        <a href=""><li>Productos</li></a>
        <a href=""><li>Registrar Productos</li></a>
      </ul>
    </div>
    <div class="col-12" style="height: 50%;">
      <h2>Usuarios</h2>
      <ul>
        <a href=""><li>Lista de Usuarios</li></a>
      </ul>
    </div>
  </div>
</div>